@import "tailwindcss";
@import "./custom.css";

@theme {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary-red: #ee3424;
  --color-dark-red: #8a0b20;
  --color-grey: #8e8e8e;
  --color-dark-grey: #c6c6c6;
  --color-light-grey: #d0d5dd;
  --color-cream: #fefbf6;
  --color-dark-line: #ececec;

  /* Font-family */
  --font-body: "Inter", sans-serif;
  --font-heading: Constructio_Grotesk, sans-serif;

  /* font-weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* flex */
  --flex-auto: 1 1 auto;
  --flex-initial: 0 1 auto;
  --flex-inherit: inherit;
  --flex-none: none;

  /* shadow */
  --shadow-xl: 0px 4px 25.9px 0px rgba(0, 0, 0, 0.05);
  --text-shadow: 0px 4px 4px 0px #00000040;

  /* padding - margin - height - width - gap */
  --spacing-95p: 95%;
  --spacing-0: 0px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-28: 28px;
  --spacing-28.8: 28.8px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-46: 46px;
  --spacing-45: 45px;
  --spacing-50: 50px;
  --spacing-60: 60px;
  --spacing-70: 70px;
  --spacing-80: 80px;
  --spacing-90: 90px;
  --spacing-100: 100px;
  --spacing-120: 120px;
  --spacing-90p: 90%;
  --spacing-100p: 100%;
  --spacing-101p: 101%;
  --spacing-110p: 110.01%;
  --spacing-120p: 120%;
  --spacing-130p: 130%;
  --spacing-140p: 140%;

  /* font-size */
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-22: 22px;
  --text-24: 24px;
  --text-26: 26px;
  --text-28: 28px;
  --text-30: 30px;
  --text-32: 32px;
  --text-35: 35px;
  --text-36: 36px;
  --text-40: 40px;
  --text-42: 42px;
  --text-45: 45px;
  --text-46: 46px;
  --text-48: 48px;
  --text-50: 50px;
  --text-60: 60px;
  --text-66: 66px;
  --text-70: 70px;
  --text-80: 80px;
  --text-82: 82px;
  --text-90: 90px;
  --text-100: 100px;
  --text-110: 110px;
  --text-120: 120px;
  --text-140: 140px;
  --text-160: 160px;

  /* border-radius */
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;
  --radius-115: 115px;

  --breakpoint-xxsscreen1: 374px;
  --breakpoint-xxsmall: 320px;
  --breakpoint-xsscreen: 370px;
  --breakpoint-xsscreen2: 400px;
  --breakpoint-xsscreen3: 401px;
  --breakpoint-xsscreen2_1: 450px;
  --breakpoint-xsscreen1: 375px;
  --breakpoint-smscreen: 575px;
  --breakpoint-smscreen2: 639px;
  --breakpoint-smscreen1: 576px;

  /* Tablet First (Smallest to Largest) */
  --breakpoint-mdscreen5: 749px;
  --breakpoint-mdscreen4: 750px;
  --breakpoint-mdscreen: 767px;
  --breakpoint-mdscreen6: 768px;
  --breakpoint-mdscreen8: 769px;
  --breakpoint-mdscreen1: 989px;
  --breakpoint-mdscreen3: 991px;
  --breakpoint-mdscreen2: 990px;
  --breakpoint-mdscreen7: 850px;

  /* Laptop Screens (Smallest to Largest) */
  --breakpoint-lgscreen: 1023px;
  --breakpoint-lgscreen1: 1024px;
  --breakpoint-lgscreen2: 1025px;

  /* Large Screens (Smallest to Largest) */
  --breakpoint-xlscreen: 1199px;
  --breakpoint-xlscreen1: 1200px;
  --breakpoint-xlscreen2: 1279px;

  /* Desktop First (Smallest to Largest) */
  --breakpoint-xl: 1280px;
  --breakpoint-small_desktop1: 1365px;
  --breakpoint-small_desktop: 1366px;
  --breakpoint-desktop: 1440px;
  --breakpoint-desktop_1: 1400px;
  --breakpoint-large_desktop: 1512px;
  --breakpoint-large_desktop_2: 1511px;
  --breakpoint-midlarge_desktop: 1600px;
  --breakpoint-midlarge_desktop_2: 1650px;
  --breakpoint-extlarge_desktop_2: 1920px;
  --breakpoint-extlarge_desktop: 1921px;
  --breakpoint-extlarge_desktop_1: 2000px;
  --breakpoint-extlarge_desktop_2: 2559px;
}
@layer base {
  ::before,
  ::after {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply !p-0 !m-0 !font-body text-18 leading-32 text-black antialiased bg-white relative;
    -webkit-font-smoothing: antialiased;
  }

  a {
    @apply transition-all duration-300 ease-in-out cursor-pointer font-body no-underline;
  }

  a p {
    @apply lgscreen:text-18 lgscreen:leading-26 text-16 leading-24 font-body font-regular;
  }

  p {
    @apply lgscreen:text-18 lgscreen:leading-26 text-16 leading-24 font-body font-regular;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 !outline-[0] !shadow-none font-heading normal-case;
  }

  h1,
  .h1,
  .title-h1,
  h2.h1,
  h1.h2 {
    @apply midlarge_desktop:text-60 midlarge_desktop:leading-[68px] lgscreen2:text-50 lgscreen2:leading-[56px] mdscreen:text-36 mdscreen:leading-[42px] text-24 leading-30;
  }

  h2,
  .h2,
  h1.h2,
  h2.h1 {
    @apply midlarge_desktop:text-40 midlarge_desktop:leading-[46px] lgscreen2:text-[30px] lgscreen2:leading-[36px] mdscreen:text-[28px] mdscreen:leading-[32px] text-24 leading-30;
  }

  h3,
  .h3,
  h2.h3 {
    @apply lgscreen2:text-30 lgscreen2:leading-[38px] smscreen:text-[28px] smscreen:leading-[32px] text-22 leading-24;
  }

  h4,
  .h4,
  h1.h4 {
    @apply lgscreen2:text-22 lgscreen2:leading-26 text-20 leading-26;
  }

  h5,
  .h5,
  h1.h5 {
    @apply mdscreen:text-20 mdscreen:leading-26 text-18 leading-24;
  }

  h6,
  .h6,
  h2.h6 {
    @apply text-16 leading-100p;
  }

  .container_fluid,
  .page-width,
  .ctm-collection .page-width,
  .shopify-policy__container {
    @apply !px-16 mdscreen6:!px-50 small_desktop:!px-80 desktop:!px-100 !max-w-full;
  }
  img {
    @apply overflow-hidden select-none;
  }

  .img-fluid-cover {
    @apply w-full h-full object-cover;
  }

  .img-fluid-none {
    @apply w-full h-full object-none;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply !content-[none];
  }
}

@layer components {
  .button,
  .ctm-button {
    @apply font-body capitalize px-[18px] pr-[52px] inline-flex transition-all duration-300 ease-in-out cursor-pointer w-fit text-18 text-center rounded-10 font-extrabold min-h-[50px] items-center justify-center relative overflow-hidden;
  }

  .ctm-button-red {
    @apply bg-primary-red text-white hover:no-underline border-1 border-solid border-primary-red;
  }

  .ctm-button-red::before {
    @apply content-[''] absolute w-[25px] h-[20px] bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/aerrow.svg?v=1751615187')] bg-contain bg-no-repeat right-[18px] top-[53%] -translate-y-1/2 transition-transform duration-300 ease-in-out;
  }

  .ctm-button-red:hover::before {
    @apply translate-x-[5px] bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/Mask_Group.svg?v=1751875988')];
  }

  .ctm-button-red:hover {
    @apply text-primary-red bg-transparent border-1 border-primary-red border-solid;
  }

  .ctm-button-outline {
    @apply bg-transparent border-1 border-white border-solid relative hover:no-underline text-white;
  }

  .ctm-button-outline::before {
    @apply content-[''] absolute w-[25px] h-[20px] bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/aerrow.svg?v=1751615187')] bg-contain bg-no-repeat right-[18px] top-[53%] -translate-y-1/2 transition-transform duration-300 ease-in-out;
  }

  .ctm-button-outline:hover::before {
    @apply translate-x-[5px] bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/Mask_Group.svg?v=1751875988')];
  }

  .ctm-button-outline:hover {
    @apply bg-white border-white text-primary-red;
  }

  .ctm-button-red-outline {
    @apply bg-transparent border-1 border-primary-red border-solid relative hover:no-underline text-primary-red;
  }

  .ctm-button-red-outline::before {
    @apply content-[''] absolute w-[25px] h-[20px] bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/Mask_Group.svg?v=1751875988')] bg-contain bg-no-repeat right-[18px] top-[53%] -translate-y-1/2 transition-transform duration-300 ease-in-out;
  }

  .ctm-button-red-outline:hover::before {
    @apply translate-x-[5px] bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/aerrow.svg?v=1751615187')];
  }

  .ctm-button-red-outline:hover {
    @apply bg-primary-red border-primary-red text-white;
  }
}

/* announcementbar start */

.announcement-bar-section .utility-bar {
  @apply border-0 shadow-none;
}

.first-announcement-bar p,
.second-announcement-bar p {
  @apply text-14 leading-100p font-medium text-black uppercase;
}
.first-announcement-bar p a {
  @apply text-14 leading-100p font-bold uppercase text-primary-red underline;
}

.second-announcement-bar p a {
  @apply text-14 leading-100p font-medium uppercase text-primary-red;
}

.second-announcement-bar {
  @apply flex items-center gap-8 max-smscreen:hidden;
}

.main-announcement-bar {
  @apply py-[11.6px] max-xl:py-[10px];
}

.second-announcement-bar .svg-wrapper {
  @apply bg-primary-red !w-[27px] !h-[27px] max-mdscreen6:!w-[24px] max-mdscreen6:!h-[24px] p-[4px] rounded-full;
}
/* announcementbar end */

/* header start */

.scrolled-past-header .ctm_header_menu.header-wrapper {
  @apply z-9 transition-all duration-500 ease-in-out !fixed left-0 right-0 top-0 shadow-xl;
  -webkit-animation-name: stickySlideDown;
  animation-name: stickySlideDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ctm-header.header,
.header.ctm-header {
  @apply py-[10px] midlarge_desktop:py-[15px] !px-0 items-center;
}

.header__heading-logo-wrapper {
  @apply mt-0 max-midlarge_desktop:max-w-[70px] max-lgscreen2:max-w-[66px] max-xsscreen2:ml-50;
}

.ctm_header_menu.header-wrapper {
  @apply border-0;
}

.ctm_header_menu .list-menu__item.link span {
  @apply font-body font-medium text-white text-18 leading-24 max-xlscreen1:text-16 capitalize py-0 transition-all duration-300 ease-in-out no-underline hover:text-dark-red;
}

.ctm_header_menu .header__inline-menu a.header__menu-item {
  @apply p-0;
}

.ctm_header_menu .list-menu__item.link span.header__active-menu-item {
  @apply text-dark-red;
}

.ctm_header_menu .header__inline-menu ul.list-menu {
  @apply large_desktop:gap-x-[40px] gap-x-16 items-center;
}

.ctm_header_menu .header__inline-menu {
  @apply !ml-0;
}
.scrolled-past-header .header__heading-logo-wrapper {
  @apply mt-0;
}

.ctm_header_menu .header__heading-link.link,
.ctm_header_menu .header__icons {
  @apply p-0;
}

.ctm_header_menu .header__icon .svg-wrapper,
.humburger_svg {
  @apply !w-[35px] !h-[35px] max-mdscreen6:!w-[28px] max-mdscreen6:!h-[28px] bg-white p-[7px] max-xsscreen2:p-[5px] rounded-full transition-all duration-500 ease-in-out;
}

.ctm_header_menu .humburger_svg svg {
  @apply w-full h-full;
}

.ctm_header_menu .header__icon .svg-wrapper:hover {
  @apply !bg-dark-red  transition-all duration-300 ease-in-out;
}

.ctm_header_menu .header__icon .svg-wrapper:hover svg path {
  @apply fill-white stroke-white  transition-all duration-300 ease-in-out;
}

.ctm_header_menu .header__search .svg-wrapper:hover svg path {
  @apply fill-none;
}

.ctm_header_menu .header__icon--cart {
  @apply mr-0 w-max h-max;
}

.ctm_header_menu .header__icon {
  @apply w-max h-max;
}

.ctm_header_menu .menu-drawer-container .header__icon {
  @apply w-auto;
}

.menu-open header-drawer {
  @apply ml-0;
}

.menu-open header-drawer .header__icon span svg:first-child {
  @apply hidden;
}

.menu-open header-drawer .header__icon span svg:first-child {
  @apply hidden;
}

.menu-open header-drawer .header__icon span svg:last-child path {
  @apply fill-primary-red stroke-primary-red;
}

.menu-open header-drawer .header__icon span svg:last-child {
  @apply w-[1.5rem] h-[1.5rem] max-mdscreen:w-[1.2rem] max-mdscreen:h-[1.2rem];
}

.ctm_header_menu .header__icons {
  @apply gap-[12px];
}

.ctm_header_menu summary .icon-caret {
  @apply text-white h-[0.7rem];
}

.ctm_header_menu .header__submenu.list-menu {
  @apply px-14 flex flex-col gap-8 !items-start rounded-10;
}

.ctm_header_menu .header__submenu.list-menu li a {
  @apply text-primary-red no-underline font-medium hover:text-dark-red transition-all duration-500 ease-in-out;
}

.ctm_header_menu details[open] > .header__menu-item {
  @apply no-underline;
}
/* header end */

/* footer start */

.footer {
  @apply max-mdscreen2:!pt-32 relative;
}

.footer::before {
  @apply content-[''] absolute bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/Group_ad0e4a74-ac59-4697-88ec-54ac7a927357.svg?v=1751970267')] opacity-30 w-full h-full max-w-[140px] bg-contain bg-no-repeat right-0 top-0;
}

.footer::after {
  @apply content-[''] absolute bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/Group_1539.svg?v=1751970803')] w-full h-full max-h-[350px] bg-contain bg-no-repeat left-0 bottom-0;
}

.footer h2.footer-block__heading {
  @apply xlscreen2:mb-32 mb-16 mdscreen2:text-left text-center font-medium lgscreen2:text-30 lgscreen2:leading-[38px] smscreen:text-[28px] smscreen:leading-[32px] text-24 leading-normal text-white;
}

.footer .footer-block__details-content {
  @apply text-white text-left max-mdscreen2:flex gap-24 max-smscreen:gap-16 items-center flex-wrap justify-center;
}

.footer .foter-block_details-icon {
  @apply bg-white p-20 max-mdscreen2:p-12 rounded-full mb-20;
}

.footer .footer-block__details-content p {
  @apply midlarge_desktop_2:text-24 midlarge_desktop_2:leading-[30px] font-regular;
}

.footer .footer__blocks-wrapper.grid {
  @apply gap-40 !grid xlscreen2:grid-cols-5 grid-cols-4  max-mdscreen2:!block;
}

.footer .footer-block.grid__item:first-child {
  @apply xlscreen2:col-span-3 col-span-2 xlscreen2:gap-70 gap-30 max-mdscreen2:pt-0;
}

.footer .footer-block.grid__item:first-child .ctm-footer-social {
  @apply mdscreen2:!block hidden;
}

.footer .footer-block.grid__item.ctm-social-mobile {
  @apply mdscreen2:hidden block;
}

/* .footer .footer-block.grid__item:last-child .ctm-footer-socia, .footer .footer-block.grid__item:last-child {
  @apply mdscreen2:hidden block;
}

.footer .footer-block.grid__item:last-child h2.footer-block__heading, .footer .footer-block.grid__item:last-child form {
  @apply !hidden;
} */

.footer .footer-block.grid__item {
  @apply flex flex-col mdscreen2:items-start mdscreen2:justify-start justify-center items-center relative max-mdscreen2:w-full max-mdscreen2:py-32 max-mdscreen2:my-0 w-full;
}

.footer .footer-block.grid__item:last-child {
  @apply max-mdscreen2:pb-0;
}

.footer .footer-block.grid__item::before {
  @apply opacity-50 max-mdscreen2:content-[''] absolute bg-white mdscreen2:top-1/2 mdscreen2:-translate-y-1/2 w-full h-[1px] bottom-0;
}

.footer .footer-block.grid__item:last-child:before {
  @apply content-none;
}

.footer .footer__content-top {
  @apply lgscreen2:pb-80 mdscreen2:pb-40 pb-32;
}

.footer .footer__content-bottom .footer__content-bottom-inner {
  @apply relative border-none flex justify-between items-center max-mdscreen2:flex-col max-mdscreen2:gap-16 pt-30 max-mdscreen2:pt-32 max-smscreen:pb-60;
}

.footer .footer__bottom_content {
  @apply mdscreen2:w-1/2 w-full mt-0;
}

.footer .footer__content-bottom-inner::before {
  @apply opacity-50 content-[''] absolute left-1/2 -translate-x-1/2 top-0 w-full h-[1px] bg-white;
}

.footer .list-social__link {
  @apply p-0;
}

.footer .footer__list-social.list-social:only-child {
  @apply gap-12;
}

.footer .copyright__content {
  @apply lgscreen:text-20 mdscreen2:text-16  max-mdscreen2:text-14 leading-normal text-white;
}

.footer .footer__content-bottom-wrapper {
  @apply mdscreen2:justify-start justify-center;
}

.footer
  .footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center)
  .footer__copyright {
  @apply mdscreen2:text-left text-center;
}
.footer .footer-block--newsletter {
  @apply mdscreen2:justify-end;
}
.footer .list-social__link .svg-wrapper {
  @apply bg-white p-10 w-40 h-40 rounded-10 hover:bg-dark-red transition-all duration-500 ease-in-out;
}
.footer .list-social__item:first-child .svg-wrapper:hover svg path,
.footer .list-social__item:last-child .svg-wrapper:hover svg path {
  @apply stroke-white fill-transparent transition-all duration-500 ease-in-out;
}

.footer .list-social__link .svg-wrapper:hover svg path {
  @apply fill-white transition-all duration-500 ease-in-out;
}

.footer .newsletter-form__field-wrapper .field__input {
  @apply bg-white mdscreen2:px-20 mdscreen2:py-14 mdscreen2:h-[63px] h-[45px] max-smscreen:h-[35px] rounded-5 max-smscreen:px-10 max-smscreen:py-[7px] px-14 py-10;
}

.footer .newsletter-form__field-wrapper .field:after {
  @apply content-none;
}

.footer .newsletter-form__field-wrapper .newsletter-form__button {
  @apply mdscreen2:right-[18px] right-10 inline-block w-auto;
}

.footer .newsletter-form__field-wrapper .newsletter-form__button .icon {
  @apply mdscreen2:w-[22px] mdscreen2:h-[18px] w-[11px] h-[9px];
}

.footer .newsletter-form__field-wrapper .field__button > .svg-wrapper {
  @apply w-auto h-auto bg-primary-red p-8 max-smscreen:p-[5px] mdscreen2:rounded-10 rounded-[8px] max-smscreen:rounded-5;
}

.footer .newsletter-form__field-wrapper .field__button > .svg-wrapper svg path {
  @apply fill-white;
}

.footer .newsletter-form__field-wrapper .field__label {
  @apply top-1/2 -translate-y-1/2 text-black font-body max-smscreen:text-12 mdscreen2:text-18 text-16 max-smscreen:left-10;
}

.footer .newsletter-form__field-wrapper .field__input:focus ~ .field__label,
.footer
  .newsletter-form__field-wrapper
  .field__input:not(:placeholder-shown)
  ~ .field__label {
  @apply hidden;
}

.field:focus-visible,
.field__input:focus-visible {
  @apply !outline-none !shadow-none;
}

.footer .footer-block__newsletter {
  @apply grow-0;
}

.footer .footer-block__details-content .list-menu__item--link {
  @apply inline-block leading-normal text-16 max-smscreen:text-14 mdscreen2:pb-16 p-0 text-left text-white font-body no-underline  transition-all duration-500 ease-in-out;
}

.footer .footer-block__details-content .list-menu__item--link:hover {
  @apply text-dark-red no-underline transition-all duration-500 ease-in-out;
}

.footer .footer-block__newsletter:not(:only-child) .footer__newsletter {
  @apply max-w-[618px] w-full;
}

.footer .footer-block__newsletter:not(:only-child) {
  @apply max-mdscreen2:mx-auto max-mdscreen2:flex flex-col justify-center items-center;
}

.footer .newsletter-form__field-wrapper {
  @apply max-w-full;
}

.footer .main-payment-images {
  @apply flex items-center justify-center gap-4 mdscreen2:gap-6 flex-wrap;
}
.footer .main-payment-images img {
  @apply max-smscreen:max-w-[50px];
}
/* footer end */

/* collection start */

.collection .collection__title h2 {
  @apply text-black text-center mb-40 max-mdscreen6:mb-30;
}

.card .card__inner {
  @apply extlarge_desktop_1:h-[500px] midlarge_desktop:h-[400px] mdscreen:h-[300px] h-[280px];
}

.ctm-collection-grid-main .collection .card .card__inner {
  @apply max-smscreen:h-[200px] max-xsscreen3:h-[150px];
}

.card .card__inner,
.card .card__inner .card__media img {
  @apply !rounded-10 overflow-hidden;
}

.card .card__inner .card__media,
.card .card__inner .card__media .media {
  @apply !overflow-visible;
}

.card .card__information .price__container .price-item {
  @apply midlarge_desktop:text-[25px] mdscreen:text-24 text-22 text-primary-red font-semibold font-body;
}

.ctm-collection-grid-main
  .collection
  .card
  .card__information
  .price__container
  .price-item {
  @apply midlarge_desktop:text-[25px] mdscreen:text-20 text-14 text-primary-red font-semibold font-body;
}

.ctm-collection-grid-main
  .collection
  .card
  .card__information
  .price__container
  span
  s.price-item.price-item--regular {
  @apply text-dark-grey font-regular;
}

.card .card__information .card__heading {
  @apply midlarge_desktop:text-[25px] mdscreen:text-24 text-22 text-black font-bold font-body mt-5;
}

.ctm-collection-grid-main .collection .card .card__information .card__heading {
  @apply mdscreen:text-16 text-12 leading-normal text-black font-bold mt-[2px];
}

.collection {
  @apply max-lgscreen:!py-60 max-mdscreen:!py-32;
}

.ctm-collection-grid-main .collection {
  @apply !py-0;
}

.ctm-collection-grid-main {
  @apply max-smscreen:!pb-0;
}

.ctm-collection-grid-main .pagination__item.pagination__item--current {
  @apply bg-primary-red text-white opacity-100 rounded-10 no-underline after:content-none;
}

.ctm-collection-grid-main .pagination__item.link {
  @apply border-1 border-primary-red border-solid bg-transparent after:content-none text-primary-red rounded-10;
}

.ctm-collection-grid-main .pagination__item.link:hover {
  @apply bg-primary-red border-1 border-primary-red border-solid text-white;
}

.ctm-collection-grid-main .pagination__item-arrow {
  @apply !border-none hover:!bg-transparent hover:!border-none hover:!text-primary-red;
}

.ctm-collection-grid-main .pagination__list > li {
  @apply max-w-[3.5rem] max-smscreen:max-w-[3rem];
}

.ctm-collection-grid-main .pagination__item {
  @apply h-[3.5rem] max-smscreen:h-[3rem];
}

.ctm-collection-grid-main .pagination-wrapper {
  @apply max-smscreen:mt-10;
}

.ctm-collection-grid-main .collection-hero__title::before {
  @apply content-[''] absolute left-0 top-1/2 -translate-y-1/2 h-full w-8 bg-black;
}

/* collection end */

/* PDP start */

.ctm-main-product .grid__item {
  @apply max-mdscreen2:!w-full;
}

.price__container span s.price-item.price-item--regular {
  @apply text-dark-grey mdscreen2:text-26 text-20 leading-normal font-semibold font-body;
}

.product__info-wrapper .price__container .price-item {
  @apply xl:text-32 mdscreen2:text-28 text-24 leading-normal text-black font-semibold font-body;
}

.product__info-wrapper span.badge {
  @apply text-white font-bold font-body pt-6;
}

.product__info-wrapper .price {
  @apply mdscreen6:mt-24 mt-16;
}

.product__info-wrapper .pdp-desc-maintext {
  @apply mdscreen6:pt-24 pt-16 border-t-1 border-solid border-dark-grey;
}

.product__info-wrapper .pdp-desc-maintext p {
  @apply text-grey;
}

.product__info-wrapper .product__info-container .product__description {
  @apply mdscreen6:mb-24 mb-16;
}

.product__info-wrapper .ctm-variants-selector {
  @apply mdscreen6:py-24 py-16 border-t-1 border-solid border-dark-grey;
}

.product__info-wrapper .ctm-variants-selector legend.form__label {
  @apply text-16 text-primary-red font-bold mb-8;
}

.product__info-wrapper .ctm-variants-selector legend.form__label span {
  @apply text-black font-normal;
}

.product__info-wrapper .read-more-toggle {
  @apply text-primary-red hover:text-black transition-all duration-300 ease-in-out;
}

.product__info-wrapper .product-form__input--pill input[type="radio"] + label {
  @apply rounded-10 px-20 py-14 max-mdscreen6:px-[18px] max-mdscreen6:py-12 border-primary-red text-primary-red font-medium text-16 max-mdscreen6:text-14 transition-all duration-300 ease-in-out;
}

.product__info-wrapper
  .product-form__input--pill
  input[type="radio"]:checked
  + label {
  @apply bg-primary-red text-white font-medium;
}

.product__info-wrapper
  .product-form__input--pill
  input[type="radio"]
  + label:hover {
  @apply text-white bg-primary-red border-primary-red border-1 border-solid transition-all duration-300 ease-in-out;
}

.product__info-wrapper
  .product-form__input--pill
  input[type="radio"]:disabled
  + label,
.product__info-wrapper
  .product-form__input--pill
  input[type="radio"].disabled
  + label {
  @apply border-grey !text-grey bg-transparent cursor-not-allowed hover:bg-transparent hover:text-grey pointer-events-none;
}

.product__info-wrapper .product-form__quantity .form__label {
  @apply text-black text-16 mb-10 font-medium;
}

.product__info-wrapper .quantity::after {
  @apply content-none;
}

.product__info-wrapper .quantity__input:focus-visible {
  @apply outline-none shadow-none;
}

.product__info-wrapper .quantity {
  @apply border-1 border-primary-red border-solid rounded-10;
}

.product__info-wrapper .quantity__button,
.product__info-wrapper .quantity__input {
  @apply text-primary-red text-20 font-medium opacity-100;
}

.product__info-wrapper .quantity__button .svg-wrapper {
  @apply w-[20px];
}

.product__info-wrapper .product__info-container .product-form {
  @apply my-0;
}

.product__info-wrapper .ctm-icon-text-product {
  @apply flex items-center gap-14 mdscreen6:pb-24 pb-16;
}

.product__info-wrapper .accordion {
  @apply mt-0 mdscreen6:py-24 py-16;
}

.product__info-wrapper .accordion:first-child {
  @apply border-t-0;
}

.product__info-wrapper .tabs__area,
.product__info-wrapper .accordion__item .accordion__content {
  @apply p-0;
}

.product__info-wrapper .accordion__content {
  @apply mb-0;
}

.product__info-wrapper .accordion__header.active {
  @apply mb-12;
}

.product__info-wrapper .accordion__header p {
  @apply text-black font-medium;
}

.product__info-wrapper .accordion_icon.plus {
  @apply mdscreen6:text-30 text-24 font-light text-primary-red border-1 rounded-full border-dark-grey mdscreen6:w-[28px] mdscreen6:h-[28px] w-[24px] h-[24px] flex justify-center items-center leading-normal mdscreen6:pb-[3px] pb-[2px];
}

.product__info-wrapper .accordion__header.active .accordion_icon.plus {
  @apply hidden;
}

.product__info-wrapper .accordion_icon.minus {
  @apply hidden;
}

.product__info-wrapper .accordion__header.active .accordion_icon.minus {
  @apply mdscreen6:text-30 text-24 font-light text-white border-1 rounded-full bg-primary-red border-primary-red mdscreen6:w-[28px] mdscreen6:h-[28px] w-[24px] h-[24px] flex justify-center items-center leading-normal mdscreen6:pb-[3px] pb-[2px];
}

/* PDP end */

.mobile-stickybar-section .bls__mobile-stickybar {
  @apply max-smscreen:block hidden;
}

.hours-block-table table:not([class]) td,
.hours-block-table table:not([class]) {
  @apply border-none shadow-none p-0;
}

.hours-block-table tr {
  @apply pb-10;
}

.hours-block-table tr td:last-child {
  @apply text-end;
}

.hours-block-table td {
  @apply text-primary-red p-0 mdscreen2:text-18 smscreen:text-16 text-12;
}
.download-app-wrapper::before {
  @apply content-[''] absolute left-0 bottom-0 bg-[url('https://cdn.shopify.com/s/files/1/0622/2633/3831/files/Clip_path_group.svg?v=1751974169')] bg-no-repeat bg-contain w-[80px] h-[120px] max-lgscreen2:w-[60px] max-lgscreen2:h-[90px] max-smscreen:w-[50px] max-smscreen:h-[70px] opacity-20;
}
