<div class="ctm_benefit_with_icon {{ section.settings.extra_class }}">
  <div class="container_fluid">
    <div class="ctm_inner_benefits !grid midlarge_desktop_2:grid-cols-4 mdscreen2:grid-cols-2 grid-cols-1 gap-24 items-center">
      {% for block in section.blocks %}
        <div class="ctm_main_benefits flex items-center gap-x-[18px]">
          <div class="ctm_benefits_icon w-max">
            <img
              src="{{ block.settings.benefits-image | image_url }}"
              alt="Hero Banner Image"
              width="auto"
              height="auto"
              class="object-contain w-[60px] h-[60px]"
            >
          </div>
          <div class="ctm_benefits_content flex flex-col gap-8 midlarge_desktop_2:max-w-[330px] max-smscreen:max-w-[260px]">
            <h5 class="text-dark-red">{{ block.settings['benefits-title'] }}</h5>
            <p class="text-black">{{ block.settings['benefit-subtitle'] }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon With Benefit",
  "class": "icon-with-benefits-sec",
  "settings": [
    {
      "type": "text",
      "label": "Extra Class",
      "id": "extra_class"
    }
  ],
  "blocks": [
    {
      "type": "benefits",
      "name": "Benefits",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "benefits-title"
        },
        {
          "type": "text",
          "label": "SubTitle",
          "id": "benefit-subtitle"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "benefits-image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefit With Icon"
    }
  ]
}
{% endschema %}
